.main-container {
    padding: 4rem 2rem 40px;
}

.indented-section {
    padding: 5px 5px 5px 5px;
}

label {
	text-transform: uppercase;
	letter-spacing: 0.08rem;
}

body {
    font-family: 'Roboto';
}